* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 62.5%;
}

.movies-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  justify-items: center;
}

.movie-card {
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}

.movie-description {
  background-color: #000;
  opacity: 90%;
  color: #fff;
  visibility: hidden;
  padding: 1rem;
}

.movie-card:hover .movie-description {
  transform: translateY(-6rem);
  transition: all 0.3s;
  visibility: visible;
}

.movie-card:hover .movie-description-translateExtra {
  transform: translateY(-8rem);
}

.heading-fifth {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.movie-year {
  font-size: 1.4rem;
}

/* search input */

form {
  margin: 0 auto;
  width: 80%;
  margin-top: 3.2rem;
  margin-bottom: 1rem;
}

.form-control {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-control label {
  font-size: 1.8rem;
  color: #333;
}

.form-control input {
  padding: 0.5rem 1rem;
  min-width: 30rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  border: 1px solid transparent;
}

.form-control input:focus {
  border: 1px solid #ddd;
}
